{% extends 'SnapRapidApiBundle:Emails:template.eml.twig' %}

{%- block subject -%}
    Snap Rapid: You account has been activated
{%- endblock subject -%}

{% block content %}
    <p {% include 'SnapRapidApiBundle:Emails/Common:_headingStyles.html.twig' %}>
        Hi {{ user.firstName }},
    </p>
    <p {% include 'SnapRapidApiBundle:Emails/Common:_paraStyles.html.twig' %}>
        Your account has been activated.
    </p>
    {% include 'SnapRapidApiBundle:Emails/Common:_signOff.html.twig' %}
{% endblock %}
